/* GLOBAL STYLE */

.iconContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.icon {
  max-height: 64px;
}

section {
  padding: 5rem;
}

@media all and (max-width: 480px) {
  section {
    padding: 3rem;
  }
}

/* ABOUT PAGE */

.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 24px 0px 48px;
}

.embedContainer iframe,
.embedContainer object,
.embedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* TOURS PAGE */

.boxContainer {
  max-width: 860px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  flex-grow: 1;
  margin-right: 36px;
}

/* CONTACT PAGE */

.mapResponsive {
  height: 0;
	overflow: hidden;
	padding-bottom: 60%; /* aspect ratio */
	position: relative;
}
.mapResponsive iframe {
  border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.smallIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}