.title {
  font-size: 8rem;
  position: absolute;
  width: 90%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

@media all and (max-width: 880px) {
  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}

@media all and (max-width: 550px) {
  .title {
    font-size: 4rem;
    top: 54%;
  }

  .subtitle {
    font-size: 2rem;
  }
}

@media all and (max-width: 440px) {
  .title {
    font-size: 3.5rem;
  }
}

@media all and (max-width: 380px) {
  .title {
    font-size: 3.2rem;
  }
}